HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/bin/src/main/resources/application.properties
/bin/.mvn/wrapper/maven-wrapper.jar
/bin/.mvn/wrapper/maven-wrapper.properties
/bin/.mvn/wrapper/MavenWrapperDownloader.class
/bin/mvnw
/bin/mvnw.cmd
/bin/pom.xml
/bin/src/main/java/io/arpaul/UdemyUserApiUser/UdemyUserApiUserApplication.class
/bin/src/test/java/io/arpaul/UdemyUserApiUser/UdemyUserApiUserApplicationTests.class
/bin/src/main/java/io/arpaul/UdemyUserApiUser/controllers/UsersController.class
